.buttonWrapper {
  width: 100%;
  text-align: center;
  margin: 4em 0;
}

.button {
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
  padding: 1em 2em;
  margin: 0 auto;
  border: 0;
  text-decoration: none;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-weight: bold;
  /*font-size: 16px;*/
  color: white;
  background-color: #4A90E2;
}

.button:active {
  background: #41ADDD;
  color: #FFF;
}
