.mapResults {
  height: 100%;
  width: 100%;
}

.mapContainer {
  height: 1px;
  min-height: 80vh;
  width: 100%;
}

.bottomContainer {
  height: 20vh;
  width: 100%;
}

.left {
  width: 50%;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  display: block;
}
.right {
  width: 50%;
  float: left;
  height: 100%;
  display: block;
}
