:global(.geosuggest__suggests--hidden) {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  outline: 0;
  width: 100%;
  margin: 1em auto;
  text-align: left;
}
